body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6B6ED8;
}


#root {
    padding-top: 75px;
    margin-right: 20em;
    margin-left: 20em;
    border-radius: 5px;
    height: 20em;
    box-shadow: 5px 5px 5px;
    background-color: #C8C8E3;
    color: #42424C;
}



.header-form {
    padding: .5em;
   
  

}

select {
    margin: 20px 20px auto;
}

